openstackwebmod/src/main/java/com/dashboard/domain/objects/serverdetails.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="servers">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:dateTime" name="updated"/>
        <xs:element type="xs:string" name="hostId"/>
        <xs:element name="addresses">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="net2" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="version"/>
                    <xs:element type="xs:string" name="addr"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="image">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="flavor">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="id"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="id"/>
        <xs:element name="security_groups">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="user_id"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:dateTime" name="created"/>
        <xs:element type="xs:string" name="tenant_id"/>
        <xs:element type="xs:string" name="accessIPv4"/>
        <xs:element type="xs:string" name="accessIPv6"/>
        <xs:element type="xs:byte" name="progress"/>
        <xs:element type="xs:string" name="config_drive"/>
        <xs:element type="xs:string" name="metadata"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>